
@{
    ViewBag.Title = "AddFriendEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddFriendEvent</h2>

@if (Model.Any())
{

    <table class="table">

        <tr>
            <th>
                User Name
            </th>
            <th>

            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Person2Name`
                </td>
                <td>
                    <button>
                        @Html.ActionLink("Accept", "AddFriend", "Friendships",
                        new
                            {
                            UserId = item.UserId,
                            Person2Id = item.Person2Id,
                            Person2Name = item.Person2Name,
                            IsAccepetd = true
                        }, null)
                    </button>
                </td>
                <td>
                    <button>
                        @Html.ActionLink("Delete", "AddFriend", "Friendships",
                        new
                            {
                            UserId = item.UserId,
                            Person2Id = item.Person2Id,
                            Person2Name = item.Person2Name,
                            IsAccepetd = false
                        }, null)
                    </button>
                </td>
            </tr>
        }
    </table>


}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
    </div>
}