@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title</h2>
<div id="calendar"></div>

<div id="myModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-rigth">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-rigth" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModelSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventId" value="0" />
                    <input type="hidden" id="hdUserId" value="0" />
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" /> Full Day event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display: none;">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="pink">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsPublic" checked="checked" /> Public Event </label>
                        </div>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                </form>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;

            FetchEvetAndRenderCalendar();
            function FetchEvetAndRenderCalendar() {
                events = [];
                $.ajax({                    
                    //url: "/Home/GetEvents",
                    url: "/api/Events",
                    method: "GET",
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (i, v) {
                            events.push({
                                eventId: v.EventId,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.TimeStart),
                                end: v.TimeEnd != null ? moment(v.TimeEnd) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay,
                                isPublic: v.IsPublic,
                                userId: v.UserID
                            });
                        })
                        GenerateCalendar(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#0f6778',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModel #eventTitle').text(calEvent.title);
                        var $modelDesrciption = $('<div/>')
                        $modelDesrciption.append($('<p/>').html('<b>Start: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $modelDesrciption.append($('<p/>').html('<b>End: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $modelDesrciption.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                        $('#myModel #pDetails').empty().html($modelDesrciption);
                        $('#myModel ').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {

                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: '',
                            isPublic: false
                            
                        }
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            EventId: event.eventId,
                            UserID: event.userId,
                            Subject: event.title,
                            TimeStart: event.start.format('DD/MM/YYYY HH:mm A'),
                            TimeEnd: event.end != null ? event.start.format('DD/MM/YYYY HH:mm A') : null ,
                            Description: event.description,
                            ThemeColor: event.color,
                            IsFullDay: event.allDay,
                            IsPublic: event.isPublic
                        }
                        SaveData(data);
                    }
                })
            }

            $('#btnEdit').click(function () {
                // Open model dialog for edit button
                openAddEditForm();
                
            })

            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "DELETE",
                        url: "/api/Events/" + selectedEvent.eventId,
                        //data: { 'eventId': selectedEvent.eventId },
                        success: function (data) {
                            console.log(data.Data);
                            if (data.Data.status) {
                                // refresh the callendar
                                FetchEvetAndRenderCalendar();
                                $('#myModel ').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A'
            });

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                } else {
                    $('#divEndDate').show();
                }
            })

            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdEventId').val(selectedEvent.eventId);
                    $('#hdUserId').val(selectedEvent.userId);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                    $('#chkIsPublic').val(selectedEvent.isPublic);
                }

                $('#MyModel').modal('hide');
                $('#myModelSave').modal();

            }

            $('#btnSave').click(function () {
                //Validation//
                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#ddThemeColor').val().trim() == "") {
                    alert('Theme color required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                } else {
                    var start = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                    var end = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
                    if (start > end) {
                        alert('Invalid end date');
                        return;
                    }
                }

                var data = {
                    EventId: $('#hdEventId').val(),
                    UserID: $('#hdUserId').val(),
                    Subject: $('#txtSubject').val().trim(),
                    TimeStart: $('#txtStart').val().trim(),
                    TimeEnd: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    Description: $('#txtDescription').val().trim(),
                    ThemeColor: $('#ddThemeColor').val(),
                    //IsPublic: $('#chkIsPublic').val().trim()
                    
                }

                if ($('#chkIsFullDay').is(':checked')) {
                    data.IsFullDay = true;
                } else {
                    data.IsFullDay = false;
                }

                if ($('#chkIsPublic').is(':checked')) {
                    data.IsPublic = true;
                } else {
                    data.IsPublic = false;
                }
                //call function for submit data to the server

                SaveData(data);

            })
            // saving Data
            function SaveData(data) {
                @*if (data.EventId > 0) {
                    $.ajax({
                        type: 'PUT',
                        url: '/api/Events/' + selectedEvent.eventId,
                        data: data,
                        success: function (data) {
                            console.log(data);
                            if (data.status) {

                                console.log('success jebanego PUTa');
                                // refresh the callendar
                                FetchEvetAndRenderCalendar();
                                $('#myModelSave').modal('hide');
                                $('#myModel').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }*@
                $.ajax({
                    type: 'POST',
                    url: '/Home/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            console.log(data);
                            console.log('success');
                            // refresh the callendar
                            FetchEvetAndRenderCalendar();
                            $('#myModelSave').modal('hide');
                            $('#myModel').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }

        });

    </script>

}