@model List<CalendarApp.DTO.EventMemberRequestDTO>
@{
    ViewBag.Title = "ListFriendEventInvitations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Invite friends to event</h2>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                User Name
            </th>
            <th>
                Event
            </th>
            <th>

            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.UserName`
            </td>
            <td>
                @item.EventID
            </td>
            <td>
                <button>
                    @Html.ActionLink("Accept", "GetInvitation", "EventFriends",
                    new
                    {
                        EventID = item.EventID,
                        UserName = item.UserName,
                        UserId = item.UserId,
                        IsAccepted = true
                    }, null)
                </button>
            </td>   
            <td>
                <button>
                    @Html.ActionLink("Delete", "GetInvitation", "EventFriends",
                    new
                    {
                        EventID = item.EventID,
                        UserName = item.UserName,
                        UserId = item.UserId,
                        IsAccepted = false
                    }, null)
                </button>
        </tr>
        }
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
    </div>
}
